footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: green;
    text-align: center;
    padding: 1rem;
    color: white;
}

header {
    background-color: green;
    color: white;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
}

